<div class="card">
    <div class="card-block">
        <div class="row">
            <div class="col-md-3">
                <img src={{post.picture}}>
            </div>
            <div class="col-md-9">
                <div>{{post.name}}</div>
                <div>{{post.message}}</div>
                <div>Posted on: {{post.created_time | date:'medium'}}</div>
                <!--<div>{{post.link}}</div>-->
                <div>Seen by: {{post.views}} people</div>
            </div>
        </div>
    </div>
</div>
<br>