<div class="container">
    <div class="hidden-lg-down"><span class="badge badge-default">xl</span></div>
    <div class="hidden-md-down hidden-xl-up"><span class="badge badge-default">lg</span></div>
    <div class="hidden-sm-down hidden-lg-up"><span class="badge badge-default">md</span></div>
    <div class="hidden-xs-down hidden-md-up"><span class="badge badge-default">sm</span></div>
    <div class="hidden-xs hidden-sm-up"><span class="badge badge-default">xs</span></div>
</div>

<div class="card" (placeSearcher)="onSearch($event)">
    <!--<div *ngIf="validation && validation.error">{{validation.error}}</div>
    <div *ngIf="validation">{{validation}}</div>-->
    <div class="card-block">
        <div class="container">
            <div class="row">
                <textarea style="overflow:auto; resize:vertical" class="form-control" [formControl]="message" placeholder="Write something..." style="border:none"></textarea>
                <!--message: {{message}}
                message text: {{message.value}}
                value: {{message.value == null}}
                message valid: {{message.valid}}
                post.pictureFile: {{post.pictureFile}}-->
            </div>
            <div class="row">
                <div *ngIf="post.place != null">
                    Checked in to --{{post.place.name}} <button type="button" class="close" (click)="removePlace()">&times;</button>
                </div>
            </div>
            <div class="row">
                <div *ngIf="scheduled">
                    --Schedule for {{humanDate}} <button type="button" class="close" (click)="removeSchedule()">&times;</button>
                </div>
            </div>
            <div class="row">
                <div *ngIf="post.pictureFile">
                    <output id="list"></output> <button type="button" class="close" (click)="removePhoto()">&times;</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <span class="row">
                        <div>
                            <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                            &nbsp;
                        </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item">
                                    <input [formControl]="placeQuery" placeholder="Search for a place..." style="outline:none" />
                                </a>
                                <div class="dropdown-item" *ngFor="let place of results | async" (click)="selectPlace(place)">
                                    <div>{{place.name}}</div>
                                    <div style="font-weight: lighter">{{place.category}} - {{place.location.city}}, {{place.location.state}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <label class="btn btn-secondary btn-file">
                            Upload photo
                            <input #selectedImage style="display: none;" id="photo" type="file" (change)="fileChangeEventImage($event)"/>      
                        </label>
                        </div>
                    </span>
                </div>
                <div class="col-md-6 col-sm-6">
                    <span class="row float-right">
                        <div class="btn-group">
                            <!--[disabled]="(!message.valid) && post.pictureFile == null" -->
                            <button type="button" 
                            class="btn btn-primary" (click)="publish()">Publish</button>                            
                            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false"><span class="sr-only">Toggle Dropdown</span></button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" (click)="publishNow()">Publish Now</a>
                        <!--<a class="dropdown-item" (click)="schedule()">Schedule</a>-->
                        <button class="dropdown-item" data-toggle="modal" data-target="#exampleModal" (click)="schedule()">Schedule</button>
                        <a class="dropdown-item" (click)="createDraft()">Create Draft</a>
                    </div>

                </div>
                <!--btn-group-->
                </span>
                <!--span-->
            </div>
            <!--col-md 6-->
        </div>
    </div>
    <!--container-fluid-->
</div>
</div>

<div class="modal fade" id="exampleModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Schedule</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div *ngIf="!will_publish">
                    <label class="col-form-label">When would you like to schdule your post for?</label>
                    <input class="form-control" type="date" [(ngModel)]="humanDate" placeholder="" />
                    <input class="form-control" type="time" [(ngModel)]="time" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="schedule2()">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

